<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azkary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Favourites_Activity"></activity>
        <activity android:name=".Azkar_Masaa_Favourites" />
        <activity android:name=".Azkar_Sabah_Favourites" />
        <activity android:name=".Qur2anActivity" />
        <activity android:name=".AwqatElSalahActivity" />
        <activity android:name=".AzkarB3dElSalahActivity" />
        <activity android:name=".Azkar_sabah_Activity" />
        <activity android:name=".AzkarElMasaaActivity" />
        <activity android:name=".AzkarElSabahActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>